.form-field {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.form-field input {
  height: 30px;
  padding: 10px;
}

.form-field .error {
  color: var(--text-warning-color);
  font-size: 14px;
}