@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

.submit-button {
  position: relative;
  padding: 8px 16px;
  background: var(--color-primary);
  color: var(--text-contrast-color);
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
}

.submit-button__loading {
  color: transparent;
}

.submit-button__loading::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid transparent;
  border-top-color: var(--text-contrast-color);
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}